@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --step--2: clamp(0.6944rem, 0.6871rem + 0.0365vw, 0.72rem);
  --step--1: clamp(0.8333rem, 0.8143rem + 0.0952vw, 0.9rem);
  --step-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.1411rem + 0.2946vw, 1.4063rem);
  --step-2: clamp(1.44rem, 1.3492rem + 0.454vw, 1.7578rem);
  --step-3: clamp(1.728rem, 1.5939rem + 0.6704vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 1.8813rem + 0.9614vw, 2.7466rem);
  --step-5: clamp(2.4883rem, 2.2183rem + 1.3499vw, 3.4332rem);

  --clr-nav-dark: #111827;
  --clr-main-dark: #1F2937;
  --clr-card-gray: #374151;
  --clr-accent: #34D399;
  --clr-accent-badge: #34d3991b;
  --clr-warning: #FF4C4C;
  --clr-warning-badge: #1A1616;
  --clr-text-light: #F9FAFB;
  --clr-text-muted: #9CA3AF;
  --clr-border: #4B5563; 
  
  --border-radius-default: 8px;

  --font-title: "Montserrat";
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: "Open Sans", sans-serif;
  background-color: var(--clr-main-dark);
  color: var(--clr-text-light);
}

body {
  font-size: var(--step-0);
}
